/*
 * Mistral AI API
 *
 * Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 * Generated by: https://openapi-generator.tech
 */

using System;
using System.Linq;
using System.Text;
using System.Collections.Generic;
using System.ComponentModel;
using System.ComponentModel.DataAnnotations;
using System.Runtime.Serialization;
using System.Text.Json;
using Org.OpenAPITools.Converters;

namespace Org.OpenAPITools.Models
{ 
        /// <summary>
        /// Gets or Sets ApiEndpoint
        /// </summary>
        
        public enum ApiEndpoint
        {
            
            /// <summary>
            /// Enum V1ChatCompletionsEnum for /v1/chat/completions
            /// </summary>
            [EnumMember(Value = "/v1/chat/completions")]
            V1ChatCompletionsEnum = 1,
            
            /// <summary>
            /// Enum V1EmbeddingsEnum for /v1/embeddings
            /// </summary>
            [EnumMember(Value = "/v1/embeddings")]
            V1EmbeddingsEnum = 2,
            
            /// <summary>
            /// Enum V1FimCompletionsEnum for /v1/fim/completions
            /// </summary>
            [EnumMember(Value = "/v1/fim/completions")]
            V1FimCompletionsEnum = 3,
            
            /// <summary>
            /// Enum V1ModerationsEnum for /v1/moderations
            /// </summary>
            [EnumMember(Value = "/v1/moderations")]
            V1ModerationsEnum = 4,
            
            /// <summary>
            /// Enum V1ChatModerationsEnum for /v1/chat/moderations
            /// </summary>
            [EnumMember(Value = "/v1/chat/moderations")]
            V1ChatModerationsEnum = 5
        }
}
