<mat-nav-list class="sidebar-nav">
  <h3 mat-subheader>Chat History</h3>

  <mat-list-item>
    <mat-icon matListItemIcon>chat_bubble</mat-icon>
    <span matListItemTitle>Recent Conversation</span>
    <span matListItemLine>Ask me anything...</span>
  </mat-list-item>

  <mat-divider></mat-divider>

  <h3 mat-subheader>Settings</h3>

  <mat-list-item>
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>Preferences</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListItemIcon>help</mat-icon>
    <span matListItemTitle>Help & Support</span>
  </mat-list-item>
</mat-nav-list>
