@if (functionCalls().length > 0) { @for (functionCall of functionCalls(); track
functionCall.callId) {
<div class="function-call-container">
  <div class="function-call-content">
    <div class="function-call-header">
      <mat-icon class="function-icon">functions</mat-icon>
      <span class="function-name">{{ functionCall.name }}</span>
      <span class="call-id">{{ functionCall.callId }}</span>
    </div>

    @if (functionCall.arguments) {
    <mat-expansion-panel class="arguments-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>Arguments</mat-panel-title>
      </mat-expansion-panel-header>
      <pre class="arguments-content">{{
        formatArguments(functionCall.arguments)
      }}</pre>
    </mat-expansion-panel>
    }
  </div>

  <button
    mat-icon-button
    class="copy-message-btn"
    aria-label="Copy function call"
    matTooltip="Copy to clipboard"
    (click)="onCopyFunctionCall(functionCall)"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
</div>
} }
