.app-container {
  height: 100vh;
  width: 100vw;

  .app-sidenav {
    width: 280px;

    mat-toolbar {
      .spacer {
        flex: 1;
      }
    }
  }

  .app-content {
    display: flex;
    flex-direction: column;

    .main-toolbar {
      flex-shrink: 0;

      .spacer {
        flex: 1;
      }
    }

    .content-area {
      flex: 1;
      display: flex;
      flex-direction: column;

      app-chat {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
