<div class="message-content-renderer">
  @if (showSpinner() && message().role !== 'user') {
  <mat-spinner diameter="20"></mat-spinner>
  }

  <app-message-text-content
    [message]="message()"
    [searchQuery]="searchQuery()"
  />
  <app-message-text-reasoning-content
    [message]="message()"
    [searchQuery]="searchQuery()"
  />
  <app-message-error-content
    [message]="message()"
    [searchQuery]="searchQuery()"
  >
  </app-message-error-content>

  <!-- Render non-text content separately -->
  @for (content of nonTextContent(); track content) { @if
  (isContentType(content, 'error')) { } @else {
  <div class="unknown-content-type">
    Unknown content type: {{ content.$type }}
  </div>
  } }
</div>
