{
  "openapi" : "3.1.0",
  "info" : {
    "description" : "Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.",
    "title" : "Mistral AI API",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "description" : "Production server",
    "url" : "https://api.mistral.ai"
  } ],
  "security" : [ {
    "ApiKey" : [ ]
  } ],
  "tags" : [ {
    "description" : "Chat Completion API.",
    "name" : "chat",
    "x-displayName" : "Chat"
  }, {
    "description" : "Fill-in-the-middle API.",
    "name" : "fim",
    "x-displayName" : "FIM"
  }, {
    "description" : "Agents API.",
    "name" : "agents",
    "x-displayName" : "Agents"
  }, {
    "description" : "Embeddings API.",
    "name" : "embeddings",
    "x-displayName" : "Embeddings"
  }, {
    "description" : "Classifiers API.",
    "name" : "classifiers",
    "x-displayName" : "Classifiers"
  }, {
    "description" : "Files API",
    "name" : "files",
    "x-displayName" : "Files"
  }, {
    "description" : "Fine-tuning API",
    "name" : "fine-tuning",
    "x-displayName" : "Fine Tuning"
  }, {
    "description" : "Model Management API",
    "name" : "models",
    "x-displayName" : "Models"
  }, {
    "description" : "Batch API",
    "name" : "batch",
    "x-displayName" : "Batch"
  }, {
    "description" : "OCR API",
    "name" : "ocr",
    "x-displayName" : "OCR API"
  }, {
    "description" : "(beta) Agents API",
    "name" : "beta.agents",
    "x-displayName" : "(beta) Agents API"
  }, {
    "description" : "(beta) Conversations API",
    "name" : "beta.conversations",
    "x-displayName" : "(beta) Conversations API"
  }, {
    "description" : "(beta) Libraries API to create and manage libraries - index your documents to enhance agent capabilities.",
    "name" : "beta.libraries",
    "x-displayName" : "(beta) Libraries  API - Main"
  }, {
    "description" : "(beta) Libraries API - manage documents in a library.",
    "name" : "beta.libraries.documents",
    "x-displayName" : "(beta) Libraries  API - Documents"
  }, {
    "description" : "(beta) Libraries API - manage access to a library.",
    "name" : "beta.libraries.accesses",
    "x-displayName" : "(beta) Libraries  API - Access"
  } ],
  "paths" : {
    "/v1/models" : {
      "get" : {
        "description" : "List all models available to the user.",
        "operationId" : "list_models_v1_models_get",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ModelList"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "List Models",
        "tags" : [ "models" ]
      }
    },
    "/v1/models/{model_id}" : {
      "delete" : {
        "description" : "Delete a fine-tuned model.",
        "operationId" : "delete_model_v1_models__model_id__delete",
        "parameters" : [ {
          "description" : "The ID of the model to delete.",
          "example" : "ft:open-mistral-7b:587a6b29:20240514:7e773925",
          "explode" : false,
          "in" : "path",
          "name" : "model_id",
          "required" : true,
          "schema" : {
            "title" : "Model Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteModelOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Delete Model",
        "tags" : [ "models" ]
      },
      "get" : {
        "description" : "Retrieve information about a model.",
        "operationId" : "retrieve_model_v1_models__model_id__get",
        "parameters" : [ {
          "description" : "The ID of the model to retrieve.",
          "example" : "ft:open-mistral-7b:587a6b29:20240514:7e773925",
          "explode" : false,
          "in" : "path",
          "name" : "model_id",
          "required" : true,
          "schema" : {
            "title" : "Model Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_Retrieve_Model_V1_Models__Model_Id__Get"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve Model",
        "tags" : [ "models" ]
      }
    },
    "/v1/conversations" : {
      "get" : {
        "description" : "Retrieve a list of conversation entities sorted by creation time.",
        "operationId" : "agents_api_v1_conversations_list",
        "parameters" : [ {
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 100,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/agents_api_v1_conversations_list_200_response_inner"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "List all created conversations.",
        "tags" : [ "beta.conversations" ]
      },
      "post" : {
        "description" : "Create a new conversation, using a base model or an agent and append entries. Completion and tool executions are run and the response is appended to the conversation.Use the returned conversation_id to continue the conversation.",
        "operationId" : "agents_api_v1_conversations_start",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Create a conversation and append entries to it.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}" : {
      "get" : {
        "description" : "Given a conversation_id retrieve a conversation entity with its attributes.",
        "operationId" : "agents_api_v1_conversations_get",
        "parameters" : [ {
          "description" : "ID of the conversation from which we are fetching metadata.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the conversation from which we are fetching metadata.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_V1_Conversations_Get"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve a conversation information.",
        "tags" : [ "beta.conversations" ]
      },
      "post" : {
        "description" : "Run completion on the history of the conversation and the user entries. Return the new created entries.",
        "operationId" : "agents_api_v1_conversations_append",
        "parameters" : [ {
          "description" : "ID of the conversation to which we append entries.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the conversation to which we append entries.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationAppendRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Append new entries to an existing conversation.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}/history" : {
      "get" : {
        "description" : "Given a conversation_id retrieve all the entries belonging to that conversation. The entries are sorted in the order they were appended, those can be messages, connectors or function_call.",
        "operationId" : "agents_api_v1_conversations_history",
        "parameters" : [ {
          "description" : "ID of the conversation from which we are fetching entries.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the conversation from which we are fetching entries.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationHistory"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve all entries in a conversation.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}/messages" : {
      "get" : {
        "description" : "Given a conversation_id retrieve all the messages belonging to that conversation. This is similar to retrieving all entries except we filter the messages only.",
        "operationId" : "agents_api_v1_conversations_messages",
        "parameters" : [ {
          "description" : "ID of the conversation from which we are fetching messages.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the conversation from which we are fetching messages.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationMessages"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve all messages in a conversation.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}/restart" : {
      "post" : {
        "description" : "Given a conversation_id and an id, recreate a conversation from this point and run completion. A new conversation is returned with the new entries returned.",
        "operationId" : "agents_api_v1_conversations_restart",
        "parameters" : [ {
          "description" : "ID of the original conversation which is being restarted.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the original conversation which is being restarted.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationRestartRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Restart a conversation starting from a given entry.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/agents" : {
      "get" : {
        "description" : "Retrieve a list of agent entities sorted by creation time.",
        "operationId" : "agents_api_v1_agents_list",
        "parameters" : [ {
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 20,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "items" : {
                    "$ref" : "#/components/schemas/Agent"
                  },
                  "type" : "array"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "List agent entities.",
        "tags" : [ "beta.agents" ]
      },
      "post" : {
        "description" : "Create a new agent giving it instructions, tools, description. The agent is then available to be used as a regular assistant in a conversation or as part of an agent pool from which it can be used.",
        "operationId" : "agents_api_v1_agents_create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgentCreationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Agent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Create a agent that can be used within a conversation.",
        "tags" : [ "beta.agents" ]
      }
    },
    "/v1/agents/{agent_id}" : {
      "get" : {
        "description" : "Given an agent retrieve an agent entity with its attributes.",
        "operationId" : "agents_api_v1_agents_get",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "agent_id",
          "required" : true,
          "schema" : {
            "title" : "Agent Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Agent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve an agent entity.",
        "tags" : [ "beta.agents" ]
      },
      "patch" : {
        "description" : "Update an agent attributes and create a new version.",
        "operationId" : "agents_api_v1_agents_update",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "agent_id",
          "required" : true,
          "schema" : {
            "title" : "Agent Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgentUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Agent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Update an agent entity.",
        "tags" : [ "beta.agents" ]
      }
    },
    "/v1/agents/{agent_id}/version" : {
      "patch" : {
        "description" : "Switch the version of an agent.",
        "operationId" : "agents_api_v1_agents_update_version",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "agent_id",
          "required" : true,
          "schema" : {
            "title" : "Agent Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "version",
          "required" : true,
          "schema" : {
            "title" : "Version",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Agent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Update an agent version.",
        "tags" : [ "beta.agents" ]
      }
    },
    "/v1/conversations#stream" : {
      "post" : {
        "description" : "Create a new conversation, using a base model or an agent and append entries. Completion and tool executions are run and the response is appended to the conversation.Use the returned conversation_id to continue the conversation.",
        "operationId" : "agents_api_v1_conversations_start_stream",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationStreamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationEvents"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Create a conversation and append entries to it.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}#stream" : {
      "post" : {
        "description" : "Run completion on the history of the conversation and the user entries. Return the new created entries.",
        "operationId" : "agents_api_v1_conversations_append_stream",
        "parameters" : [ {
          "description" : "ID of the conversation to which we append entries.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the conversation to which we append entries.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationAppendStreamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationEvents"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Append new entries to an existing conversation.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/conversations/{conversation_id}/restart#stream" : {
      "post" : {
        "description" : "Given a conversation_id and an id, recreate a conversation from this point and run completion. A new conversation is returned with the new entries returned.",
        "operationId" : "agents_api_v1_conversations_restart_stream",
        "parameters" : [ {
          "description" : "ID of the original conversation which is being restarted.",
          "explode" : false,
          "in" : "path",
          "name" : "conversation_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the original conversation which is being restarted.",
            "title" : "Conversation Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ConversationRestartStreamRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConversationEvents"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Restart a conversation starting from a given entry.",
        "tags" : [ "beta.conversations" ]
      }
    },
    "/v1/files" : {
      "get" : {
        "description" : "Returns a list of files that belong to the user's organization.",
        "operationId" : "files_api_routes_list_files",
        "parameters" : [ {
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 100,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "sample_type",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/SampleType"
            },
            "nullable" : true,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "source",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/Source"
            },
            "nullable" : true,
            "type" : "array"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "purpose",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/FilePurpose"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListFilesOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "List Files",
        "tags" : [ "files" ]
      },
      "post" : {
        "description" : "Upload a file that can be used across various endpoints.\n\nThe size of individual files can be a maximum of 512 MB. The Fine-tuning API only supports .jsonl files.\n\nPlease contact us if you need to increase these storage limits.",
        "operationId" : "files_api_routes_upload_file",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/MultiPartBodyParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadFileOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Upload File",
        "tags" : [ "files" ]
      }
    },
    "/v1/files/{file_id}" : {
      "delete" : {
        "description" : "Delete a file.",
        "operationId" : "files_api_routes_delete_file",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "File Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteFileOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Delete File",
        "tags" : [ "files" ]
      },
      "get" : {
        "description" : "Returns information about a specific file.",
        "operationId" : "files_api_routes_retrieve_file",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "File Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RetrieveFileOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Retrieve File",
        "tags" : [ "files" ]
      }
    },
    "/v1/files/{file_id}/content" : {
      "get" : {
        "description" : "Download a file",
        "operationId" : "files_api_routes_download_file",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "File Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/octet-stream" : {
                "schema" : {
                  "format" : "binary",
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Download File",
        "tags" : [ "files" ]
      }
    },
    "/v1/files/{file_id}/url" : {
      "get" : {
        "operationId" : "files_api_routes_get_signed_url",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "file_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "File Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Number of hours before the url becomes invalid. Defaults to 24h",
          "explode" : true,
          "in" : "query",
          "name" : "expiry",
          "required" : false,
          "schema" : {
            "default" : 24,
            "description" : "Number of hours before the url becomes invalid. Defaults to 24h",
            "title" : "Expiry",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FileSignedURL"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get Signed Url",
        "tags" : [ "files" ]
      }
    },
    "/v1/fine_tuning/jobs" : {
      "get" : {
        "description" : "Get a list of fine-tuning jobs for your organization and user.",
        "operationId" : "jobs_api_routes_fine_tuning_get_fine_tuning_jobs",
        "parameters" : [ {
          "description" : "The page number of the results to be returned.",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The number of items to return per page.",
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 100,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "The model name used for fine-tuning to filter on. When set, the other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "model",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The date/time to filter on. When set, the results for previous creation times are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "created_after",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "created_before",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "When set, only return results for jobs created by the API caller. Other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "created_by_me",
          "required" : false,
          "schema" : {
            "default" : false,
            "title" : "Created By Me",
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "description" : "The current job state to filter on. When set, the other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "status",
          "required" : false,
          "schema" : {
            "enum" : [ "QUEUED", "STARTED", "VALIDATING", "VALIDATED", "RUNNING", "FAILED_VALIDATION", "FAILED", "SUCCESS", "CANCELLED", "CANCELLATION_REQUESTED" ],
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The Weights and Biases project to filter on. When set, the other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "wandb_project",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The Weight and Biases run name to filter on. When set, the other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "wandb_name",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The model suffix to filter on. When set, the other results are not displayed.",
          "explode" : true,
          "in" : "query",
          "name" : "suffix",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/JobsOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get Fine Tuning Jobs",
        "tags" : [ "fine-tuning" ]
      },
      "post" : {
        "description" : "Create a new fine-tuning job, it will be queued for processing.",
        "operationId" : "jobs_api_routes_fine_tuning_create_fine_tuning_job",
        "parameters" : [ {
          "description" : "* If `true` the job is not spawned, instead the query returns a handful of useful metadata\n  for the user to perform sanity checks (see `LegacyJobMetadataOut` response).\n* Otherwise, the job is started and the query returns the job ID along with some of the\n  input parameters (see `JobOut` response).\n",
          "explode" : true,
          "in" : "query",
          "name" : "dry_run",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "boolean"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JobIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Create Fine Tuning Job",
        "tags" : [ "fine-tuning" ]
      }
    },
    "/v1/fine_tuning/jobs/{job_id}" : {
      "get" : {
        "description" : "Get a fine-tuned job details by its UUID.",
        "operationId" : "jobs_api_routes_fine_tuning_get_fine_tuning_job",
        "parameters" : [ {
          "description" : "The ID of the job to analyse.",
          "explode" : false,
          "in" : "path",
          "name" : "job_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Job Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_1"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get Fine Tuning Job",
        "tags" : [ "fine-tuning" ]
      }
    },
    "/v1/fine_tuning/jobs/{job_id}/cancel" : {
      "post" : {
        "description" : "Request the cancellation of a fine tuning job.",
        "operationId" : "jobs_api_routes_fine_tuning_cancel_fine_tuning_job",
        "parameters" : [ {
          "description" : "The ID of the job to cancel.",
          "explode" : false,
          "in" : "path",
          "name" : "job_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Job Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_1"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Cancel Fine Tuning Job",
        "tags" : [ "fine-tuning" ]
      }
    },
    "/v1/fine_tuning/jobs/{job_id}/start" : {
      "post" : {
        "description" : "Request the start of a validated fine tuning job.",
        "operationId" : "jobs_api_routes_fine_tuning_start_fine_tuning_job",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "job_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Job Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_1"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Start Fine Tuning Job",
        "tags" : [ "fine-tuning" ]
      }
    },
    "/v1/fine_tuning/models/{model_id}" : {
      "patch" : {
        "description" : "Update a model name or description.",
        "operationId" : "jobs_api_routes_fine_tuning_update_fine_tuned_model",
        "parameters" : [ {
          "description" : "The ID of the model to update.",
          "example" : "ft:open-mistral-7b:587a6b29:20240514:7e773925",
          "explode" : false,
          "in" : "path",
          "name" : "model_id",
          "required" : true,
          "schema" : {
            "title" : "Model Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateFTModelIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Response_2"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Update Fine Tuned Model",
        "tags" : [ "models" ]
      }
    },
    "/v1/fine_tuning/models/{model_id}/archive" : {
      "delete" : {
        "description" : "Un-archive a fine-tuned model.",
        "operationId" : "jobs_api_routes_fine_tuning_unarchive_fine_tuned_model",
        "parameters" : [ {
          "description" : "The ID of the model to unarchive.",
          "example" : "ft:open-mistral-7b:587a6b29:20240514:7e773925",
          "explode" : false,
          "in" : "path",
          "name" : "model_id",
          "required" : true,
          "schema" : {
            "title" : "Model Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UnarchiveFTModelOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Unarchive Fine Tuned Model",
        "tags" : [ "models" ]
      },
      "post" : {
        "description" : "Archive a fine-tuned model.",
        "operationId" : "jobs_api_routes_fine_tuning_archive_fine_tuned_model",
        "parameters" : [ {
          "description" : "The ID of the model to archive.",
          "example" : "ft:open-mistral-7b:587a6b29:20240514:7e773925",
          "explode" : false,
          "in" : "path",
          "name" : "model_id",
          "required" : true,
          "schema" : {
            "title" : "Model Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArchiveFTModelOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Archive Fine Tuned Model",
        "tags" : [ "models" ]
      }
    },
    "/v1/batch/jobs" : {
      "get" : {
        "description" : "Get a list of batch jobs for your organization and user.",
        "operationId" : "jobs_api_routes_batch_get_batch_jobs",
        "parameters" : [ {
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 100,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "model",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "metadata",
          "required" : false,
          "schema" : {
            "additionalProperties" : { },
            "nullable" : true
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "created_after",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "created_by_me",
          "required" : false,
          "schema" : {
            "default" : false,
            "title" : "Created By Me",
            "type" : "boolean"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "status",
          "required" : false,
          "schema" : {
            "items" : {
              "$ref" : "#/components/schemas/BatchJobStatus"
            },
            "nullable" : true,
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchJobsOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get Batch Jobs",
        "tags" : [ "batch" ]
      },
      "post" : {
        "description" : "Create a new batch job, it will be queued for processing.",
        "operationId" : "jobs_api_routes_batch_create_batch_job",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchJobIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchJobOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Create Batch Job",
        "tags" : [ "batch" ]
      }
    },
    "/v1/batch/jobs/{job_id}" : {
      "get" : {
        "description" : "Get a batch job details by its UUID.",
        "operationId" : "jobs_api_routes_batch_get_batch_job",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "job_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Job Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchJobOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Get Batch Job",
        "tags" : [ "batch" ]
      }
    },
    "/v1/batch/jobs/{job_id}/cancel" : {
      "post" : {
        "description" : "Request the cancellation of a batch job.",
        "operationId" : "jobs_api_routes_batch_cancel_batch_job",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "job_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Job Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchJobOut"
                }
              }
            },
            "description" : "OK"
          }
        },
        "summary" : "Cancel Batch Job",
        "tags" : [ "batch" ]
      }
    },
    "/v1/chat/completions" : {
      "post" : {
        "operationId" : "chat_completion_v1_chat_completions_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatCompletionResponse"
                }
              },
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletionEvent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Chat Completion",
        "tags" : [ "chat" ]
      }
    },
    "/v1/fim/completions" : {
      "post" : {
        "description" : "FIM completion.",
        "operationId" : "fim_completion_v1_fim_completions_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FIMCompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FIMCompletionResponse"
                }
              },
              "text/event-stream" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletionEvent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Fim Completion",
        "tags" : [ "fim" ]
      }
    },
    "/v1/agents/completions" : {
      "post" : {
        "operationId" : "agents_completion_v1_agents_completions_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AgentsCompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Agents Completion",
        "tags" : [ "agents" ]
      }
    },
    "/v1/embeddings" : {
      "post" : {
        "description" : "Embeddings",
        "operationId" : "embeddings_v1_embeddings_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmbeddingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmbeddingResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Embeddings",
        "tags" : [ "embeddings" ]
      }
    },
    "/v1/moderations" : {
      "post" : {
        "operationId" : "moderations_v1_moderations_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClassificationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ModerationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Moderations",
        "tags" : [ "classifiers" ]
      }
    },
    "/v1/chat/moderations" : {
      "post" : {
        "operationId" : "chat_moderations_v1_chat_moderations_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChatModerationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ModerationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Chat Moderations",
        "tags" : [ "classifiers" ]
      }
    },
    "/v1/ocr" : {
      "post" : {
        "operationId" : "ocr_v1_ocr_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OCRRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OCRResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "OCR",
        "tags" : [ "ocr" ]
      }
    },
    "/v1/classifications" : {
      "post" : {
        "operationId" : "classifications_v1_classifications_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ClassificationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClassificationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Classifications",
        "tags" : [ "classifiers" ]
      }
    },
    "/v1/chat/classifications" : {
      "post" : {
        "operationId" : "chat_classifications_v1_chat_classifications_post",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChatClassificationRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ClassificationResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Chat Classifications",
        "tags" : [ "classifiers" ]
      }
    },
    "/v1/libraries" : {
      "get" : {
        "description" : "List all libraries that you have created or have been shared with you.",
        "operationId" : "libraries_list_v1",
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListLibraryOut"
                }
              }
            },
            "description" : "Successful Response"
          }
        },
        "summary" : "List all libraries you have access to.",
        "tags" : [ "beta.libraries" ]
      },
      "post" : {
        "description" : "Create a new Library, you will be marked as the owner and only you will have the possibility to share it with others. When first created this will only be accessible by you.",
        "operationId" : "libraries_create_v1",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LibraryIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LibraryOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Create a new Library.",
        "tags" : [ "beta.libraries" ]
      }
    },
    "/v1/libraries/{library_id}" : {
      "delete" : {
        "description" : "Given a library id, deletes it together with all documents that have been uploaded to that library.",
        "operationId" : "libraries_delete_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LibraryOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Delete a library and all of it's document.",
        "tags" : [ "beta.libraries" ]
      },
      "get" : {
        "description" : "Given a library id, details information about that Library.",
        "operationId" : "libraries_get_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LibraryOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Detailed information about a specific Library.",
        "tags" : [ "beta.libraries" ]
      },
      "put" : {
        "description" : "Given a library id, you can update the name and description.",
        "operationId" : "libraries_update_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LibraryInUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LibraryOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Update a library.",
        "tags" : [ "beta.libraries" ]
      }
    },
    "/v1/libraries/{library_id}/documents" : {
      "get" : {
        "description" : "Given a library, lists the document that have been uploaded to that library.",
        "operationId" : "libraries_documents_list_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "search",
          "required" : false,
          "schema" : {
            "nullable" : true,
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page_size",
          "required" : false,
          "schema" : {
            "default" : 100,
            "title" : "Page Size",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "default" : 0,
            "title" : "Page",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "sort_by",
          "required" : false,
          "schema" : {
            "default" : "created_at",
            "title" : "Sort By",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "sort_order",
          "required" : false,
          "schema" : {
            "default" : "desc",
            "title" : "Sort Order",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListDocumentOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "List document in a given library.",
        "tags" : [ "beta.libraries.documents" ]
      },
      "post" : {
        "description" : "Given a library, upload a new document to that library. It is queued for processing, it status will change it has been processed. The processing has to be completed in order be discoverable for the library search",
        "operationId" : "libraries_documents_upload_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentUpload"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentOut"
                }
              }
            },
            "description" : "A document with the same hash was found in this library. Returns the existing document."
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentOut"
                }
              }
            },
            "description" : "Upload successful, returns the created document information's."
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Upload a new document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/share" : {
      "delete" : {
        "description" : "Given a library id, you can delete the access level of an entity. An owner cannot delete it's own access. You have to be the owner of the library to delete an acces other than yours.",
        "operationId" : "libraries_share_delete_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharingDelete"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharingOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Delete an access level.",
        "tags" : [ "beta.libraries.accesses" ]
      },
      "get" : {
        "description" : "Given a library, list all of the Entity that have access and to what level.",
        "operationId" : "libraries_share_list_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListSharingOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "List all of the access to this library.",
        "tags" : [ "beta.libraries.accesses" ]
      },
      "put" : {
        "description" : "Given a library id, you can create or update the access level of an entity. You have to be owner of the library to share a library. An owner cannot change their own role. A library cannot be shared outside of the organization.",
        "operationId" : "libraries_share_create_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SharingIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SharingOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Create or update an access level.",
        "tags" : [ "beta.libraries.accesses" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}" : {
      "delete" : {
        "description" : "Given a library and a document in that library, delete that document. The document will be deleted from the library and the search index.",
        "operationId" : "libraries_documents_delete_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Delete a document.",
        "tags" : [ "beta.libraries.documents" ]
      },
      "get" : {
        "description" : "Given a library and a document in this library, you can retrieve the metadata of that document.",
        "operationId" : "libraries_documents_get_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve the metadata of a specific document.",
        "tags" : [ "beta.libraries.documents" ]
      },
      "put" : {
        "description" : "Given a library and a document in that library, update the name of that document.",
        "operationId" : "libraries_documents_update_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DocumentUpdateIn"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Update the metadata of a specific document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}/text_content" : {
      "get" : {
        "description" : "Given a library and a document in that library, you can retrieve the text content of that document if it exists. For documents like pdf, docx and pptx the text content results from our processing using Mistral OCR.",
        "operationId" : "libraries_documents_get_text_content_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DocumentTextContent"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve the text content of a specific document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}/status" : {
      "get" : {
        "description" : "Given a library and a document in that library, retrieve the processing status of that document.",
        "operationId" : "libraries_documents_get_status_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcessingStatusOut"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve the processing status of a specific document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}/signed-url" : {
      "get" : {
        "description" : "Given a library and a document in that library, retrieve the signed URL of a specific document.The url will expire after 30 minutes and can be accessed by anyone with the link.",
        "operationId" : "libraries_documents_get_signed_url_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Response V1 Libraries Documents Get Signed Url",
                  "type" : "string"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve the signed URL of a specific document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}/extracted-text-signed-url" : {
      "get" : {
        "description" : "Given a library and a document in that library, retrieve the signed URL of text extracted. For documents that are sent to the OCR this returns the result of the OCR queries.",
        "operationId" : "libraries_documents_get_extracted_text_signed_url_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "title" : "Response V1 Libraries Documents Get Extracted Text Signed Url",
                  "type" : "string"
                }
              }
            },
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Retrieve the signed URL of text extracted from a given document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    },
    "/v1/libraries/{library_id}/documents/{document_id}/reprocess" : {
      "post" : {
        "description" : "Given a library and a document in that library, reprocess that document, it will be billed again.",
        "operationId" : "libraries_documents_reprocess_v1",
        "parameters" : [ {
          "explode" : false,
          "in" : "path",
          "name" : "library_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Library Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "document_id",
          "required" : true,
          "schema" : {
            "format" : "uuid",
            "title" : "Document Id",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successful Response"
          },
          "422" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description" : "Validation Error"
          }
        },
        "summary" : "Reprocess a document.",
        "tags" : [ "beta.libraries.documents" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "BaseModelCard" : {
        "example" : {
          "capabilities" : {
            "completion_chat" : true,
            "function_calling" : true,
            "vision" : false,
            "fine_tuning" : false,
            "completion_fim" : false,
            "classification" : false
          },
          "aliases" : [ "aliases", "aliases" ],
          "created" : 0,
          "deprecation_replacement_model" : "deprecation_replacement_model",
          "description" : "description",
          "owned_by" : "mistralai",
          "deprecation" : "2000-01-23T04:56:07.000+00:00",
          "type" : "base",
          "max_context_length" : 6,
          "name" : "name",
          "default_model_temperature" : 1.4658129805029452,
          "id" : "id",
          "object" : "model"
        },
        "properties" : {
          "id" : {
            "title" : "Id",
            "type" : "string"
          },
          "object" : {
            "default" : "model",
            "title" : "Object",
            "type" : "string"
          },
          "created" : {
            "title" : "Created",
            "type" : "integer"
          },
          "owned_by" : {
            "default" : "mistralai",
            "title" : "Owned By",
            "type" : "string"
          },
          "capabilities" : {
            "$ref" : "#/components/schemas/ModelCapabilities"
          },
          "name" : {
            "nullable" : true,
            "type" : "string"
          },
          "description" : {
            "nullable" : true,
            "type" : "string"
          },
          "max_context_length" : {
            "default" : 32768,
            "title" : "Max Context Length",
            "type" : "integer"
          },
          "aliases" : {
            "default" : [ ],
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "deprecation" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "deprecation_replacement_model" : {
            "nullable" : true,
            "type" : "string"
          },
          "default_model_temperature" : {
            "nullable" : true,
            "type" : "number"
          },
          "type" : {
            "default" : "base",
            "enum" : [ "base" ],
            "title" : "Type",
            "type" : "string"
          }
        },
        "required" : [ "capabilities", "id" ],
        "title" : "BaseModelCard"
      },
      "DeleteModelOut" : {
        "example" : {
          "deleted" : true,
          "id" : "id",
          "object" : "model"
        },
        "properties" : {
          "id" : {
            "description" : "The ID of the deleted model.",
            "title" : "Id",
            "type" : "string"
          },
          "object" : {
            "default" : "model",
            "description" : "The object type that was deleted",
            "title" : "Object",
            "type" : "string"
          },
          "deleted" : {
            "default" : true,
            "description" : "The deletion status",
            "title" : "Deleted",
            "type" : "boolean"
          }
        },
        "required" : [ "id" ],
        "title" : "DeleteModelOut"
      },
      "FTModelCard" : {
        "description" : "Extra fields for fine-tuned models.",
        "properties" : {
          "id" : {
            "title" : "Id",
            "type" : "string"
          },
          "object" : {
            "default" : "model",
            "title" : "Object",
            "type" : "string"
          },
          "created" : {
            "title" : "Created",
            "type" : "integer"
          },
          "owned_by" : {
            "default" : "mistralai",
            "title" : "Owned By",
            "type" : "string"
          },
          "capabilities" : {
            "$ref" : "#/components/schemas/ModelCapabilities"
          },
          "name" : {
            "nullable" : true,
            "type" : "string"
          },
          "description" : {
            "nullable" : true,
            "type" : "string"
          },
          "max_context_length" : {
            "default" : 32768,
            "title" : "Max Context Length",
            "type" : "integer"
          },
          "aliases" : {
            "default" : [ ],
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "deprecation" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "deprecation_replacement_model" : {
            "nullable" : true,
            "type" : "string"
          },
          "default_model_temperature" : {
            "nullable" : true,
            "type" : "number"
          },
          "type" : {
            "default" : "fine-tuned",
            "enum" : [ "fine-tuned" ],
            "title" : "Type",
            "type" : "string"
          },
          "job" : {
            "title" : "Job",
            "type" : "string"
          },
          "root" : {
            "title" : "Root",
            "type" : "string"
          },
          "archived" : {
            "default" : false,
            "title" : "Archived",
            "type" : "boolean"
          }
        },
        "required" : [ "capabilities", "id", "job", "root" ],
        "title" : "FTModelCard"
      },
      "HTTPValidationError" : {
        "example" : {
          "detail" : [ {
            "msg" : "msg",
            "loc" : [ "ValidationError_loc_inner", "ValidationError_loc_inner" ],
            "type" : "type"
          }, {
            "msg" : "msg",
            "loc" : [ "ValidationError_loc_inner", "ValidationError_loc_inner" ],
            "type" : "type"
          } ]
        },
        "properties" : {
          "detail" : {
            "items" : {
              "$ref" : "#/components/schemas/ValidationError"
            },
            "type" : "array"
          }
        },
        "title" : "HTTPValidationError"
      },
      "ModelCapabilities" : {
        "example" : {
          "completion_chat" : true,
          "function_calling" : true,
          "vision" : false,
          "fine_tuning" : false,
          "completion_fim" : false,
          "classification" : false
        },
        "properties" : {
          "completion_chat" : {
            "default" : true,
            "title" : "Completion Chat",
            "type" : "boolean"
          },
          "completion_fim" : {
            "default" : false,
            "title" : "Completion Fim",
            "type" : "boolean"
          },
          "function_calling" : {
            "default" : true,
            "title" : "Function Calling",
            "type" : "boolean"
          },
          "fine_tuning" : {
            "default" : false,
            "title" : "Fine Tuning",
            "type" : "boolean"
          },
          "vision" : {
            "default" : false,
            "title" : "Vision",
            "type" : "boolean"
          },
          "classification" : {
            "default" : false,
            "title" : "Classification",
            "type" : "boolean"
          }
        },
        "title" : "ModelCapabilities"
      },
      "ModelList" : {
        "example" : {
          "data" : [ {
            "capabilities" : {
              "completion_chat" : true,
              "function_calling" : true,
              "vision" : false,
              "fine_tuning" : false,
              "completion_fim" : false,
              "classification" : false
            },
            "aliases" : [ "aliases", "aliases" ],
            "created" : 0,
            "deprecation_replacement_model" : "deprecation_replacement_model",
            "description" : "description",
            "owned_by" : "mistralai",
            "deprecation" : "2000-01-23T04:56:07.000+00:00",
            "type" : "base",
            "max_context_length" : 6,
            "name" : "name",
            "default_model_temperature" : 1.4658129805029452,
            "id" : "id",
            "object" : "model"
          }, {
            "capabilities" : {
              "completion_chat" : true,
              "function_calling" : true,
              "vision" : false,
              "fine_tuning" : false,
              "completion_fim" : false,
              "classification" : false
            },
            "aliases" : [ "aliases", "aliases" ],
            "created" : 0,
            "deprecation_replacement_model" : "deprecation_replacement_model",
            "description" : "description",
            "owned_by" : "mistralai",
            "deprecation" : "2000-01-23T04:56:07.000+00:00",
            "type" : "base",
            "max_context_length" : 6,
            "name" : "name",
[...]
