{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Anthropic API",
    "version" : "0.0.0"
  },
  "servers" : [ {
    "url" : "https://api.anthropic.com"
  } ],
  "paths" : {
    "/v1/messages" : {
      "post" : {
        "description" : "Send a structured list of input messages with text and/or image content, and the model will generate the next message in the conversation.\n\nThe Messages API can be used for either single queries or stateless multi-turn conversations.",
        "operationId" : "messages_post",
        "parameters" : [ {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateMessageParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Message"
                }
              }
            },
            "description" : "Message object."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Message",
        "tags" : [ "Messages" ]
      }
    },
    "/v1/complete" : {
      "post" : {
        "description" : "[Legacy] Create a Text Completion.\n\nThe Text Completions API is a legacy API. We recommend using the [Messages API](https://docs.anthropic.com/en/api/messages) going forward.\n\nFuture models and features will not be compatible with Text Completions. See our [migration guide](https://docs.anthropic.com/en/api/migrating-from-text-completions-to-messages) for guidance in migrating from Text Completions to Messages.",
        "operationId" : "complete_post",
        "parameters" : [ {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CompletionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CompletionResponse"
                }
              }
            },
            "description" : "Text Completion object."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Text Completion",
        "tags" : [ "Text Completions" ]
      }
    },
    "/v1/messages?beta=true" : {
      "post" : {
        "description" : "Send a structured list of input messages with text and/or image content, and the model will generate the next message in the conversation.\n\nThe Messages API can be used for either single queries or stateless multi-turn conversations.",
        "operationId" : "beta_messages_post_beta",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : {
              "type" : "string"
            },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BetaCreateMessageParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessage"
                }
              }
            },
            "description" : "Message object."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Message",
        "tags" : [ "Messages" ]
      }
    },
    "/v1/messages/batches?beta=true" : {
      "get" : {
        "description" : "List all Message Batches within a Workspace. Most recently created batches are returned first.",
        "operationId" : "beta_message_batches_list_beta",
        "parameters" : [ {
          "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately before this object.",
          "explode" : true,
          "in" : "query",
          "name" : "before_id",
          "required" : false,
          "schema" : {
            "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately before this object.",
            "title" : "Before Id",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately after this object.",
          "explode" : true,
          "in" : "query",
          "name" : "after_id",
          "required" : false,
          "schema" : {
            "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately after this object.",
            "title" : "After Id",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Number of items to return per page.\n\nDefaults to `20`. Ranges from `1` to `100`.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "default" : 20,
            "description" : "Number of items to return per page.\n\nDefaults to `20`. Ranges from `1` to `100`.",
            "maximum" : 100,
            "minimum" : 1,
            "title" : "Limit",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaListResponse_MessageBatch_"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "List Message Batches",
        "tags" : [ "Message Batches" ]
      },
      "post" : {
        "description" : "Send a batch of Message creation requests.\n\nThe Message Batches API can be used to process multiple Messages API requests at once. Once a Message Batch is created, it begins processing immediately. Batches can take up to 24 hours to complete.",
        "operationId" : "beta_message_batches_post_beta",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BetaCreateMessageBatchParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}?beta=true" : {
      "get" : {
        "description" : "This endpoint is idempotent and can be used to poll for Message Batch completion. To access the results of a Message Batch, make a request to the `results_url` field in the response.",
        "operationId" : "beta_message_batches_retrieve_beta",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Retrieve a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}/cancel?beta=true" : {
      "post" : {
        "description" : "Batches may be canceled any time before processing ends. Once cancellation is initiated, the batch enters a `canceling` state, at which time the system may complete any in-progress, non-interruptible requests before finalizing cancellation.\n\nThe number of canceled requests is specified in `request_counts`. To determine which requests were canceled, check the individual results within the batch. Note that cancellation may not result in any canceled requests if they were non-interruptible.",
        "operationId" : "beta_message_batches_cancel_beta",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Cancel a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}/results?beta=true" : {
      "get" : {
        "description" : "Streams the results of a Message Batch as a `.jsonl` file.\n\nEach line in the file is a JSON object containing the result of a single request in the Message Batch. Results are not guaranteed to be in the same order as requests. Use the `custom_id` field to match results to requests.",
        "operationId" : "beta_message_batches_results_beta",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/x-jsonl" : {
                "schema" : {
                  "format" : "binary",
                  "type" : "string",
                  "x-line-schema" : {
                    "$ref" : "#/components/schemas/BetaMessageBatchIndividualResponse"
                  }
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Retrieve Message Batch results",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/count_tokens?beta=true" : {
      "post" : {
        "description" : "Count the number of tokens in a Message.\n\nThe Token Count API can be used to count the number of tokens in a Message, including tools, images, and documents, without creating it.",
        "operationId" : "beta_messages_count_tokens_post_beta",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BetaCountMessageTokensParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaCountMessageTokensResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Count tokens in a Message",
        "tags" : [ "Messages" ]
      }
    },
    "/v1/messages?beta=prompt_caching" : {
      "post" : {
        "description" : "Send a structured list of input messages with text and/or image content, and the model will generate the next message in the conversation.\n\nThe Messages API can be used for either single queries or stateless multi-turn conversations.",
        "operationId" : "prompt_caching_beta_messages_post",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PromptCachingBetaCreateMessageParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PromptCachingBetaMessage"
                }
              }
            },
            "description" : "Message object."
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Message",
        "tags" : [ "Messages" ]
      }
    },
    "/v1/messages/batches" : {
      "get" : {
        "description" : "List all Message Batches within a Workspace. Most recently created batches are returned first.",
        "operationId" : "beta_message_batches_list",
        "parameters" : [ {
          "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately before this object.",
          "explode" : true,
          "in" : "query",
          "name" : "before_id",
          "required" : false,
          "schema" : {
            "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately before this object.",
            "title" : "Before Id",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately after this object.",
          "explode" : true,
          "in" : "query",
          "name" : "after_id",
          "required" : false,
          "schema" : {
            "description" : "ID of the object to use as a cursor for pagination. When provided, returns the page of results immediately after this object.",
            "title" : "After Id",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Number of items to return per page.\n\nDefaults to `20`. Ranges from `1` to `100`.",
          "explode" : true,
          "in" : "query",
          "name" : "limit",
          "required" : false,
          "schema" : {
            "default" : 20,
            "description" : "Number of items to return per page.\n\nDefaults to `20`. Ranges from `1` to `100`.",
            "maximum" : 100,
            "minimum" : 1,
            "title" : "Limit",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaListResponse_MessageBatch_"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "List Message Batches",
        "tags" : [ "Message Batches" ]
      },
      "post" : {
        "description" : "Send a batch of Message creation requests.\n\nThe Message Batches API can be used to process multiple Messages API requests at once. Once a Message Batch is created, it begins processing immediately. Batches can take up to 24 hours to complete.",
        "operationId" : "beta_message_batches_post",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BetaCreateMessageBatchParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Create a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}" : {
      "get" : {
        "description" : "This endpoint is idempotent and can be used to poll for Message Batch completion. To access the results of a Message Batch, make a request to the `results_url` field in the response.",
        "operationId" : "beta_message_batches_retrieve",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Retrieve a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}/cancel" : {
      "post" : {
        "description" : "Batches may be canceled any time before processing ends. Once cancellation is initiated, the batch enters a `canceling` state, at which time the system may complete any in-progress, non-interruptible requests before finalizing cancellation.\n\nThe number of canceled requests is specified in `request_counts`. To determine which requests were canceled, check the individual results within the batch. Note that cancellation may not result in any canceled requests if they were non-interruptible.",
        "operationId" : "beta_message_batches_cancel",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaMessageBatch"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Cancel a Message Batch",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/batches/{message_batch_id}/results" : {
      "get" : {
        "description" : "Streams the results of a Message Batch as a `.jsonl` file.\n\nEach line in the file is a JSON object containing the result of a single request in the Message Batch. Results are not guaranteed to be in the same order as requests. Use the `custom_id` field to match results to requests.",
        "operationId" : "beta_message_batches_results",
        "parameters" : [ {
          "description" : "ID of the Message Batch.",
          "explode" : false,
          "in" : "path",
          "name" : "message_batch_id",
          "required" : true,
          "schema" : {
            "description" : "ID of the Message Batch.",
            "title" : "Message Batch Id",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
          "explode" : false,
          "in" : "header",
          "name" : "x-api-key",
          "required" : false,
          "schema" : {
            "description" : "Your unique API key for authentication. \n\nThis key is required in the header of all API requests, to authenticate your account and access Anthropic's services. Get your API key through the [Console](https://console.anthropic.com/settings/keys). Each key is scoped to a Workspace.",
            "title" : "X-Api-Key",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/x-jsonl" : {
                "schema" : {
                  "format" : "binary",
                  "type" : "string",
                  "x-line-schema" : {
                    "$ref" : "#/components/schemas/BetaMessageBatchIndividualResponse"
                  }
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Retrieve Message Batch results",
        "tags" : [ "Message Batches" ]
      }
    },
    "/v1/messages/count_tokens" : {
      "post" : {
        "description" : "Count the number of tokens in a Message.\n\nThe Token Count API can be used to count the number of tokens in a Message, including tools, images, and documents, without creating it.",
        "operationId" : "beta_messages_count_tokens_post",
        "parameters" : [ {
          "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-beta",
          "required" : false,
          "schema" : {
            "description" : "Optional header to specify the beta version(s) you want to use.\n\nTo use multiple betas, use a comma separated list like `beta1,beta2` or specify the header multiple times for each beta.",
            "items" : { },
            "title" : "Anthropic-Beta",
            "type" : "string",
            "x-stainless-override-schema" : {
              "x-stainless-param" : "betas",
              "x-stainless-extend-default" : true,
              "type" : "array",
              "description" : "Optional header to specify the beta version(s) you want to use.",
              "items" : {
                "$ref" : "#/components/schemas/AnthropicBeta"
              }
            }
          },
          "style" : "simple"
        }, {
          "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
          "explode" : false,
          "in" : "header",
          "name" : "anthropic-version",
          "required" : false,
          "schema" : {
            "description" : "The version of the Anthropic API you want to use.\n\nRead more about versioning and our version history [here](https://docs.anthropic.com/en/api/versioning).",
            "title" : "Anthropic-Version",
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BetaCountMessageTokensParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaCountMessageTokensResponse"
                }
              }
            },
            "description" : "Successful Response"
          },
          "4XX" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BetaErrorResponse"
                }
              }
            },
            "description" : "Error response.\n\nSee our [errors documentation](https://docs.anthropic.com/en/api/errors) for more details."
          }
        },
        "summary" : "Count tokens in a Message",
        "tags" : [ "Messages" ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "APIError" : {
        "properties" : {
          "type" : {
            "default" : "api_error",
            "enum" : [ "api_error" ],
            "title" : "Type",
            "type" : "string"
          },
          "message" : {
            "default" : "Internal server error",
            "title" : "Message",
            "type" : "string"
          }
        },
        "required" : [ "message", "type" ],
        "title" : "APIError"
      },
      "AuthenticationError" : {
        "properties" : {
          "type" : {
            "default" : "authentication_error",
            "enum" : [ "authentication_error" ],
            "title" : "Type",
            "type" : "string"
          },
          "message" : {
            "default" : "Authentication error",
            "title" : "Message",
            "type" : "string"
          }
        },
        "required" : [ "message", "type" ],
        "title" : "AuthenticationError"
      },
      "Base64ImageSource" : {
        "additionalProperties" : false,
        "properties" : {
          "type" : {
            "enum" : [ "base64" ],
            "title" : "Type",
            "type" : "string"
          },
          "media_type" : {
            "enum" : [ "image/jpeg", "image/png", "image/gif", "image/webp" ],
            "title" : "Media Type",
            "type" : "string"
          },
          "data" : {
            "format" : "byte",
            "title" : "Data",
            "type" : "string"
          }
        },
        "required" : [ "data", "media_type", "type" ],
        "title" : "Base64ImageSource"
      },
      "BetaAPIError" : {
        "properties" : {
          "type" : {
            "default" : "api_error",
            "enum" : [ "api_error" ],
            "title" : "Type",
            "type" : "string"
          },
          "message" : {
            "default" : "Internal server error",
            "title" : "Message",
            "type" : "string"
          }
        },
        "required" : [ "message", "type" ],
        "title" : "APIError"
      },
      "BetaAuthenticationError" : {
        "properties" : {
          "type" : {
            "default" : "authentication_error",
            "enum" : [ "authentication_error" ],
            "title" : "Type",
            "type" : "string"
          },
          "message" : {
            "default" : "Authentication error",
            "title" : "Message",
            "type" : "string"
          }
        },
        "required" : [ "message", "type" ],
        "title" : "AuthenticationError"
      },
      "BetaBase64ImageSource" : {
        "additionalProperties" : false,
        "properties" : {
          "type" : {
            "enum" : [ "base64" ],
            "title" : "Type",
            "type" : "string"
          },
          "media_type" : {
            "enum" : [ "image/jpeg", "image/png", "image/gif", "image/webp" ],
            "title" : "Media Type",
            "type" : "string"
          },
          "data" : {
            "format" : "byte",
            "title" : "Data",
            "type" : "string"
          }
        },
        "required" : [ "data", "media_type", "type" ],
        "title" : "Base64ImageSource"
      },
      "BetaBase64PDFSource" : {
        "additionalProperties" : false,
        "properties" : {
          "type" : {
            "enum" : [ "base64" ],
            "title" : "Type",
            "type" : "string"
          },
          "media_type" : {
            "enum" : [ "application/pdf" ],
            "title" : "Media Type",
            "type" : "string"
          },
          "data" : {
            "format" : "byte",
            "title" : "Data",
            "type" : "string"
          }
        },
        "required" : [ "data", "media_type", "type" ],
        "title" : "Base64PDFSource"
      },
      "BetaBashTool_20241022" : {
        "additionalProperties" : false,
        "properties" : {
          "cache_control" : {
            "$ref" : "#/components/schemas/BetaCacheControlEphemeral"
          },
          "type" : {
            "enum" : [ "bash_20241022" ],
            "title" : "Type",
            "type" : "string"
          },
          "name" : {
            "description" : "Name of the tool.\n\nThis is how the tool will be called by the model and in tool_use blocks.",
            "enum" : [ "bash" ],
            "title" : "Name",
            "type" : "string"
          }
        },
        "required" : [ "name", "type" ],
        "title" : "BashTool_20241022"
      },
      "BetaCacheControlEphemeral" : {
        "additionalProperties" : false,
        "example" : {
          "type" : "ephemeral"
        },
        "properties" : {
          "type" : {
            "enum" : [ "ephemeral" ],
            "title" : "Type",
            "type" : "string"
          }
        },
        "required" : [ "type" ],
        "title" : "CacheControlEphemeral"
      },
      "BetaCanceledResult" : {
        "properties" : {
          "type" : {
            "default" : "canceled",
            "enum" : [ "canceled" ],
            "title" : "Type",
            "type" : "string"
          }
        },
        "required" : [ "type" ],
        "title" : "CanceledResult"
      },
      "BetaComputerUseTool_20241022" : {
        "additionalProperties" : false,
        "properties" : {
          "cache_control" : {
            "$ref" : "#/components/schemas/BetaCacheControlEphemeral"
          },
          "type" : {
            "enum" : [ "computer_20241022" ],
            "title" : "Type",
            "type" : "string"
          },
          "name" : {
            "description" : "Name of the tool.\n\nThis is how the tool will be called by the model and in tool_use blocks.",
            "enum" : [ "computer" ],
            "title" : "Name",
            "type" : "string"
          },
          "display_height_px" : {
            "description" : "The height of the display in pixels.",
            "minimum" : 1,
            "title" : "Display Height Px",
            "type" : "integer"
          },
          "display_width_px" : {
            "description" : "The width of the display in pixels.",
            "minimum" : 1,
            "title" : "Display Width Px",
            "type" : "integer"
          },
          "display_number" : {
            "minimum" : 0,
            "nullable" : true,
            "type" : "integer"
          }
        },
        "required" : [ "display_height_px", "display_width_px", "name", "type" ],
        "title" : "ComputerUseTool_20241022"
      },
      "BetaContentBlockDeltaEvent" : {
        "properties" : {
          "type" : {
            "default" : "content_block_delta",
            "enum" : [ "content_block_delta" ],
            "title" : "Type",
            "type" : "string"
          },
          "index" : {
            "title" : "Index",
            "type" : "integer"
          },
          "delta" : {
            "$ref" : "#/components/schemas/Delta"
          }
        },
        "required" : [ "delta", "index", "type" ],
        "title" : "ContentBlockDeltaEvent"
      },
      "BetaContentBlockStartEvent" : {
        "properties" : {
          "type" : {
            "default" : "content_block_start",
            "enum" : [ "content_block_start" ],
            "title" : "Type",
            "type" : "string"
          },
          "index" : {
            "title" : "Index",
            "type" : "integer"
          },
          "content_block" : {
            "$ref" : "#/components/schemas/Content_Block"
          }
        },
        "required" : [ "content_block", "index", "type" ],
        "title" : "ContentBlockStartEvent"
      },
      "BetaContentBlockStopEvent" : {
        "properties" : {
          "type" : {
            "default" : "content_block_stop",
            "enum" : [ "content_block_stop" ],
            "title" : "Type",
            "type" : "string"
          },
          "index" : {
            "title" : "Index",
            "type" : "integer"
          }
        },
        "required" : [ "index", "type" ],
        "title" : "ContentBlockStopEvent"
      },
      "BetaCountMessageTokensParams" : {
        "additionalProperties" : false,
        "example" : {
          "system" : "System",
          "tool_choice" : {
            "disable_parallel_tool_use" : true,
            "type" : "auto"
          },
          "messages" : [ {
            "role" : "user",
            "content" : "Content"
          }, {
            "role" : "user",
            "content" : "Content"
          } ],
          "model" : "Model",
          "tools" : [ {
            "input_schema" : "",
            "name" : "name",
            "description" : "description",
            "cache_control" : {
              "type" : "ephemeral"
            },
            "type" : "custom"
          }, {
            "input_schema" : "",
            "name" : "name",
            "description" : "description",
            "cache_control" : {
              "type" : "ephemeral"
            },
            "type" : "custom"
          } ]
        },
        "properties" : {
          "tool_choice" : {
            "$ref" : "#/components/schemas/BetaToolChoice"
          },
          "tools" : {
            "description" : "Definitions of tools that the model may use.\n\nIf you include `tools` in your API request, the model may return `tool_use` content blocks that represent the model's use of those tools. You can then run those tools using the tool input generated by the model and then optionally return results back to the model using `tool_result` content blocks.\n\nEach tool definition includes:\n\n* `name`: Name of the tool.\n* `description`: Optional, but strongly-recommended description of the tool.\n* `input_schema`: [JSON schema](https://json-schema.org/) for the tool `input` shape that the model will produce in `tool_use` output content blocks.\n\nFor example, if you defined `tools` as:\n\n```json\n[\n  {\n    \"name\": \"get_stock_price\",\n    \"description\": \"Get the current stock price for a given ticker symbol.\",\n    \"input_schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"ticker\": {\n          \"type\": \"string\",\n          \"description\": \"The stock ticker symbol, e.g. AAPL for Apple Inc.\"\n        }\n      },\n      \"required\": [\"ticker\"]\n    }\n  }\n]\n```\n\nAnd then asked the model \"What's the S&P 500 at today?\", the model might produce `tool_use` content blocks in the response like this:\n\n```json\n[\n  {\n    \"type\": \"tool_use\",\n    \"id\": \"toolu_01D7FLrfh4GYq7yT1ULFeyMV\",\n    \"name\": \"get_stock_price\",\n    \"input\": { \"ticker\": \"^GSPC\" }\n  }\n]\n```\n\nYou might then run your `get_stock_price` tool with `{\"ticker\": \"^GSPC\"}` as an input, and return the following back to the model in a subsequent `user` message:\n\n```json\n[\n  {\n    \"type\": \"tool_result\",\n    \"tool_use_id\": \"toolu_01D7FLrfh4GYq7yT1ULFeyMV\",\n    \"content\": \"259.75 USD\"\n  }\n]\n```\n\nTools can be used for workflows that include running client-side tools and functions, or more generally whenever you want the model to produce a particular JSON structure of output.\n\nSee our [guide](https://docs.anthropic.com/en/docs/tool-use) for more details.",
            "items" : {
              "$ref" : "#/components/schemas/BetaCountMessageTokensParams_tools_inner"
            },
            "type" : "array"
          },
          "messages" : {
            "description" : "Input messages.\n\nOur models are trained to operate on alternating `user` and `assistant` conversational turns. When creating a new `Message`, you specify the prior conversational turns with the `messages` parameter, and the model then generates the next `Message` in the conversation. Consecutive `user` or `assistant` turns in your request will be combined into a single turn.\n\nEach input message must be an object with a `role` and `content`. You can specify a single `user`-role message, or you can include multiple `user` and `assistant` messages.\n\nIf the final message uses the `assistant` role, the response content will continue immediately from the content in that message. This can be used to constrain part of the model's response.\n\nExample with a single `user` message:\n\n```json\n[{\"role\": \"user\", \"content\": \"Hello, Claude\"}]\n```\n\nExample with multiple conversational turns:\n\n```json\n[\n  {\"role\": \"user\", \"content\": \"Hello there.\"},\n  {\"role\": \"assistant\", \"content\": \"Hi, I'm Claude. How can I help you?\"},\n  {\"role\": \"user\", \"content\": \"Can you explain LLMs in plain English?\"},\n]\n```\n\nExample with a partially-filled response from Claude:\n\n```json\n[\n  {\"role\": \"user\", \"content\": \"What's the Greek name for Sun? (A) Sol (B) Helios (C) Sun\"},\n  {\"role\": \"assistant\", \"content\": \"The best answer is (\"},\n]\n```\n\nEach input message `content` may be either a single `string` or an array of content blocks, where each block has a specific `type`. Using a `string` for `content` is shorthand for an array of one content block of type `\"text\"`. The following input messages are equivalent:\n\n```json\n{\"role\": \"user\", \"content\": \"Hello, Claude\"}\n```\n\n```json\n{\"role\": \"user\", \"content\": [{\"type\": \"text\", \"text\": \"Hello, Claude\"}]}\n```\n\nStarting with Claude 3 models, you can also send image content blocks:\n\n```json\n{\"role\": \"user\", \"content\": [\n  {\n    \"type\": \"image\",\n    \"source\": {\n      \"type\": \"base64\",\n      \"media_type\": \"image/jpeg\",\n      \"data\": \"/9j/4AAQSkZJRg...\",\n    }\n  },\n  {\"type\": \"text\", \"text\": \"What is in this image?\"}\n]}\n```\n\nWe currently support the `base64` source type for images, and the `image/jpeg`, `image/png`, `image/gif`, and `image/webp` media types.\n\nSee [examples](https://docs.anthropic.com/en/api/messages-examples#vision) for more input examples.\n\nNote that if you want to include a [system prompt](https://docs.anthropic.com/en/docs/system-prompts), you can use the top-level `system` parameter — there is no `\"system\"` role for input messages in the Messages API.",
            "items" : {
              "$ref" : "#/components/schemas/BetaInputMessage"
            },
            "type" : "array"
          },
          "system" : {
            "$ref" : "#/components/schemas/System"
          },
          "model" : {
            "$ref" : "#/components/schemas/Model"
          }
        },
        "required" : [ "messages", "model" ],
        "title" : "CountMessageTokensParams"
      },
      "BetaCountMessageTokensResponse" : {
        "example" : {
          "input_tokens" : 0
        },
        "properties" : {
          "input_tokens" : {
            "description" : "The total number of tokens across the provided list of messages, system prompt, and tools.",
            "title" : "Input Tokens",
            "type" : "integer"
          }
        },
        "required" : [ "input_tokens" ],
        "title" : "CountMessageTokensResponse"
      },
      "BetaCreateMessageBatchParams" : {
        "additionalProperties" : false,
        "example" : {
          "requests" : [ {
            "custom_id" : "custom_id",
            "params" : ""
          }, {
            "custom_id" : "custom_id",
            "params" : ""
          } ]
        },
        "properties" : {
          "requests" : {
            "description" : "List of requests for prompt completion. Each is an individual request to create a Message.",
            "items" : {
              "$ref" : "#/components/schemas/BetaMessageBatchIndividualRequestParams"
            },
            "type" : "array"
          }
        },
        "required" : [ "requests" ],
        "title" : "CreateMessageBatchParams"
      },
      "BetaCreateMessageParams" : {
        "additionalProperties" : false,
        "example" : {
          "max_tokens" : 1024,
          "messages" : [ {
            "content" : "Hello, world",
            "role" : "user"
          } ],
          "model" : "claude-3-5-sonnet-20241022"
        },
        "properties" : {
          "model" : {
            "$ref" : "#/components/schemas/Model"
          },
          "messages" : {
            "description" : "Input messages.\n\nOur models are trained to operate on alternating `user` and `assistant` conversational turns. When creating a new `Message`, you specify the prior conversational turns with the `messages` parameter, and the model then generates the next `Message` in the conversation. Consecutive `user` or `assistant` turns in your request will be combined into a single turn.\n\nEach input message must be an object with a `role` and `content`. You can specify a single `user`-role message, or you can include multiple `user` and `assistant` messages.\n\nIf the final message uses the `assistant` role, the response content will continue immediately from the content in that message. This can be used to constrain part of the model's response.\n\nExample with a single `user` message:\n\n```json\n[{\"role\": \"user\", \"content\": \"Hello, Claude\"}]\n```\n\nExample with multiple conversational turns:\n\n```json\n[\n  {\"role\": \"user\", \"content\": \"Hello there.\"},\n  {\"role\": \"assistant\", \"content\": \"Hi, I'm Claude. How can I help you?\"},\n  {\"role\": \"user\", \"content\": \"Can you explain LLMs in plain English?\"},\n]\n```\n\nExample with a partially-filled response from Claude:\n\n```json\n[\n  {\"role\": \"user\", \"content\": \"What's the Greek name for Sun? (A) Sol (B) Helios (C) Sun\"},\n  {\"role\": \"assistant\", \"content\": \"The best answer is (\"},\n]\n```\n\nEach input message `content` may be either a single `string` or an array of content blocks, where each block has a specific `type`. Using a `string` for `content` is shorthand for an array of one content block of type `\"text\"`. The following input messages are equivalent:\n\n```json\n{\"role\": \"user\", \"content\": \"Hello, Claude\"}\n```\n\n```json\n{\"role\": \"user\", \"content\": [{\"type\": \"text\", \"text\": \"Hello, Claude\"}]}\n```\n\nStarting with Claude 3 models, you can also send image content blocks:\n\n```json\n{\"role\": \"user\", \"content\": [\n  {\n    \"type\": \"image\",\n    \"source\": {\n      \"type\": \"base64\",\n      \"media_type\": \"image/jpeg\",\n      \"data\": \"/9j/4AAQSkZJRg...\",\n    }\n  },\n  {\"type\": \"text\", \"text\": \"What is in this image?\"}\n]}\n```\n\nWe currently support the `base64` source type for images, and the `image/jpeg`, `image/png`, `image/gif`, and `image/webp` media types.\n\nSee [examples](https://docs.anthropic.com/en/api/messages-examples#vision) for more input examples.\n\nNote that if you want to include a [system prompt](https://docs.anthropic.com/en/docs/system-prompts), you can use the top-level `system` parameter — there is no `\"system\"` role for input messages in the Messages API.",
            "items" : {
              "$ref" : "#/components/schemas/BetaInputMessage"
            },
            "type" : "array"
          },
          "max_tokens" : {
            "description" : "The maximum number of tokens to generate before stopping.\n\nNote that our models may stop _before_ reaching this maximum. This parameter only specifies the absolute maximum number of tokens to generate.\n\nDifferent models have different maximum values for this parameter.  See [models](https://docs.anthropic.com/en/docs/models-overview) for details.",
            "minimum" : 1,
            "title" : "Max Tokens",
            "type" : "integer"
          },
          "metadata" : {
            "allOf" : [ {
              "$ref" : "#/components/schemas/BetaMetadata"
            } ],
            "description" : "An object describing metadata about the request."
          },
          "stop_sequences" : {
            "description" : "Custom text sequences that will cause the model to stop generating.\n\nOur models will normally stop when they have naturally completed their turn, which will result in a response `stop_reason` of `\"end_turn\"`.\n\nIf you want the model to stop generating when it encounters custom strings of text, you can use the `stop_sequences` parameter. If the model encounters one of the custom sequences, the response `stop_reason` value will be `\"stop_sequence\"` and the response `stop_sequence` value will contain the matched stop sequence.",
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "stream" : {
            "description" : "Whether to incrementally stream the response using server-sent events.\n\nSee [streaming](https://docs.anthropic.com/en/api/messages-streaming) for details.",
            "title" : "Stream",
            "type" : "boolean"
          },
          "system" : {
            "$ref" : "#/components/schemas/System_1"
          },
          "temperature" : {
            "description" : "Amount of randomness injected into the response.\n\nDefaults to `1.0`. Ranges from `0.0` to `1.0`. Use `temperature` closer to `0.0` for analytical / multiple choice, and closer to `1.0` for creative and generative tasks.\n\nNote that even with `temperature` of `0.0`, the results will not be fully deterministic.",
            "maximum" : 1,
            "minimum" : 0,
            "title" : "Temperature",
            "type" : "number"
          },
          "tool_choice" : {
            "$ref" : "#/components/schemas/BetaToolChoice"
          },
          "tools" : {
            "description" : "Definitions of tools that the model may use.\n\nIf you include `tools` in your API request, the model may return `tool_use` content blocks that represent the model's use of those tools. You can then run those tools using the tool input generated by the model and then optionally return results back to the model using `tool_result` content blocks.\n\nEach tool definition includes:\n\n* `name`: Name of the tool.\n* `description`: Optional, but strongly-recommended description of the tool.\n* `input_schema`: [JSON schema](https://json-schema.org/) for the tool `input` shape that the model will produce in `tool_use` output content blocks.\n\nFor example, if you defined `tools` as:\n\n```json\n[\n  {\n    \"name\": \"get_stock_price\",\n    \"description\": \"Get the current stock price for a given ticker symbol.\",\n    \"input_schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"ticker\": {\n          \"type\": \"string\",\n          \"description\": \"The stock ticker symbol, e.g. AAPL for Apple Inc.\"\n        }\n      },\n      \"required\": [\"ticker\"]\n    }\n  }\n]\n```\n\nAnd then asked the model \"What's the S&P 500 at today?\", the model might produce `tool_use` content blocks in the response like this:\n\n```json\n[\n  {\n    \"type\": \"tool_use\",\n    \"id\": \"toolu_01D7FLrfh4GYq7yT1ULFeyMV\",\n    \"name\": \"get_stock_price\",\n    \"input\": { \"ticker\": \"^GSPC\" }\n  }\n]\n```\n\nYou might then run your `get_stock_price` tool with `{\"ticker\": \"^GSPC\"}` as an input, and return the following back to the model in a subsequent `user` message:\n\n```json\n[\n  {\n    \"type\": \"tool_result\",\n    \"tool_use_id\": \"toolu_01D7FLrfh4GYq7yT1ULFeyMV\",\n    \"content\": \"259.75 USD\"\n  }\n]\n```\n\nTools can be used for workflows that include running client-side tools and functions, or more generally whenever you want the model to produce a particular JSON structure of output.\n\nSee our [guide](https://docs.anthropic.com/en/docs/tool-use) for more details.",
            "items" : {
              "$ref" : "#/components/schemas/BetaCountMessageTokensParams_tools_inner"
            },
            "type" : "array"
          },
          "top_k" : {
            "description" : "Only sample from the top K options for each subsequent token.\n\nUsed to remove \"long tail\" low probability responses. [Learn more technical details here](https://towardsdatascience.com/how-to-sample-from-language-models-682bceb97277).\n\nRecommended for advanced use cases only. You usually only need to use `temperature`.",
            "minimum" : 0,
            "title" : "Top K",
            "type" : "integer"
          },
          "top_p" : {
            "description" : "Use nucleus sampling.\n\nIn nucleus sampling, we compute the cumulative distribution over all the options for each subsequent token in decreasing probability order and cut it off once it reaches a particular probability specified by `top_p`. You should either alter `temperature` or `top_p`, but not both.\n\nRecommended for advanced use cases only. You usually only need to use `temperature`.",
            "maximum" : 1,
            "minimum" : 0,
            "title" : "Top P",
            "type" : "number"
          }
        },
        "required" : [ "max_tokens", "messages", "model" ],
        "title" : "CreateMessageParams"
      },
      "BetaErrorResponse" : {
        "example" : {
          "type" : "error",
          "error" : {
            "type" : "invalid_request_error",
            "message" : "Invalid request"
          }
        },
        "properties" : {
          "type" : {
            "default" : "error",
            "enum" : [ "error" ],
            "title" : "Type",
            "type" : "string"
          },
          "error" : {
            "$ref" : "#/components/schemas/Error"
          }
        },
        "required" : [ "error", "type" ],
        "title" : "ErrorResponse"
      },
      "BetaErroredResult" : {
        "properties" : {
          "type" : {
            "default" : "errored",
            "enum" : [ "errored" ],
            "title" : "Type",
            "type" : "string"
          },
          "error" : {
            "$ref" : "#/components/schemas/BetaErrorResponse"
          }
        },
        "required" : [ "error", "type" ],
        "title" : "ErroredResult"
      },
      "BetaExpiredResult" : {
        "properties" : {
          "type" : {
            "default" : "expired",
            "enum" : [ "expired" ],
            "title" : "Type",
            "type" : "string"
          }
        },
        "required" : [ "type" ],
        "title" : "ExpiredResult"
      },
      "BetaInputJsonContentBlockDelta" : {
        "properties" : {
          "type" : {
            "default" : "input_json_delta",
            "enum" : [ "input_json_delta" ],
            "title" : "Type",
            "type" : "string"
          },
          "partial_json" : {
            "title" : "Partial Json",
            "type" : "string"
          }
        },
        "required" : [ "partial_json", "type" ],
        "title" : "InputJsonContentBlockDelta"
      },
      "BetaInputMessage" : {
        "additionalProperties" : false,
        "example" : {
          "role" : "user",
          "content" : "Content"
        },
        "properties" : {
          "role" : {
            "enum" : [ "user", "assistant" ],
            "title" : "Role",
            "type" : "string"
          },
          "content" : {
            "$ref" : "#/components/schemas/Content"
          }
        },
        "required" : [ "content", "role" ],
        "title" : "InputMessage"
      },
      "BetaInputSchema" : {
        "additionalProperties" : false,
        "properties" : {
          "type" : {
            "enum" : [ "object" ],
            "title" : "Type",
            "type" : "string"
          },
          "properties" : {
            "nullable" : true,
            "type" : "object"
          }
        },
        "required" : [ "type" ],
        "title" : "InputSchema"
      },
      "BetaInvalidRequestError" : {
        "example" : {
          "type" : "invalid_request_error",
          "message" : "Invalid request"
        },
        "properties" : {
          "type" : {
            "default" : "invalid_request_error",
            "enum" : [ "invalid_request_error" ],
            "title" : "Type",
            "type" : "string"
          },
          "message" : {
            "default" : "Invalid request",
            "title" : "Message",
            "type" : "string"
          }
        },
        "required" : [ "message", "type" ],
        "title" : "InvalidRequestError"
      },
      "BetaListResponse_MessageBatch_" : {
        "example" : {
          "first_id" : "first_id",
          "data" : [ {
            "cancel_initiated_at" : "2000-01-23T04:56:07.000+00:00",
            "request_counts" : "",
            "expires_at" : "2000-01-23T04:56:07.000+00:00",
            "archived_at" : "2000-01-23T04:56:07.000+00:00",
            "processing_status" : "in_progress",
            "created_at" : "2000-01-23T04:56:07.000+00:00",
            "id" : "id",
            "results_url" : "results_url",
            "type" : "message_batch",
            "ended_at" : "2000-01-23T04:56:07.000+00:00"
          }, {
            "cancel_initiated_at" : "2000-01-23T04:56:07.000+00:00",
            "request_counts" : "",
            "expires_at" : "2000-01-23T04:56:07.000+00:00",
            "archived_at" : "2000-01-23T04:56:07.000+00:00",
            "processing_status" : "in_progress",
            "created_at" : "2000-01-23T04:56:07.000+00:00",
            "id" : "id",
            "results_url" : "results_url",
            "type" : "message_batch",
            "ended_at" : "2000-01-23T04:56:07.000+00:00"
          } ],
          "last_id" : "last_id",
          "has_more" : true
        },
        "properties" : {
          "data" : {
            "items" : {
              "$ref" : "#/components/schemas/BetaMessageBatch"
            },
            "type" : "array"
          },
          "has_more" : {
            "description" : "Indicates if there are more results in the requested page direction.",
            "title" : "Has More",
            "type" : "boolean"
          },
          "first_id" : {
            "nullable" : true,
            "type" : "string"
          },
          "last_id" : {
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "data", "first_id", "has_more", "last_id" ],
        "title" : "ListResponse[MessageBatch]"
      },
      "BetaMessage" : {
        "example" : {
          "role" : "assistant",
          "stop_sequence" : "stop_sequence",
          "usage" : "",
          "stop_reason" : "end_turn",
          "model" : "Model",
          "id" : "id",
          "type" : "message",
          "content" : [ {
            "text" : "text",
            "type" : "text"
          }, {
            "text" : "text",
            "type" : "text"
          } ]
        },
        "properties" : {
          "id" : {
            "description" : "Unique object identifier.\n\nThe format and length of IDs may change over time.",
            "title" : "Id",
            "type" : "string"
          },
          "type" : {
            "default" : "message",
            "description" : "Object type.\n\nFor Messages, this is always `\"message\"`.",
            "enum" : [ "message" ],
            "title" : "Type",
            "type" : "string"
          },
          "role" : {
            "default" : "assistant",
            "description" : "Conversational role of the generated message.\n\nThis will always be `\"assistant\"`.",
            "enum" : [ "assistant" ],
            "title" : "Role",
            "type" : "string"
          },
          "content" : {
            "description" : "Content generated by the model.\n\nThis is an array of content blocks, each of which has a `type` that determines its shape.\n\nExample:\n\n```json\n[{\"type\": \"text\", \"text\": \"Hi, I'm Claude.\"}]\n```\n\nIf the request input `messages` ended with an `assistant` turn, then the response `content` will continue directly from that last turn. You can use this to constrain the model's output.\n\nFor example, if the input `messages` were:\n```json\n[\n  {\"role\": \"user\", \"content\": \"What's the Greek name for Sun? (A) Sol (B) Helios (C) Sun\"},\n  {\"role\": \"assistant\", \"content\": \"The best answer is (\"}\n]\n```\n\nThen the response `content` might be:\n\n```json\n[{\"type\": \"text\", \"text\": \"B)\"}]\n```",
            "items" : {
              "$ref" : "#/components/schemas/BetaContentBlock"
            },
            "type" : "array"
          },
          "model" : {
            "$ref" : "#/components/schemas/Model"
          },
          "stop_reason" : {
            "enum" : [ "end_turn", "max_tokens", "stop_sequence", "tool_use" ],
            "nullable" : true,
            "type" : "string"
          },
          "stop_sequence" : {
            "nullable" : true,
            "type" : "string"
          },
          "usage" : {
            "allOf" : [ {
              "$ref" : "#/components/schemas/BetaUsage"
            } ],
            "description" : "Billing and rate-limit usage.\n\nAnthropic's API bills and rate-limits by token counts, as tokens represent the underlying cost to our systems.\n\nUnder the hood, the API transforms requests into a format suitable for the model. The model's output then goes through a parsing stage before becoming an API response. As a result, the token counts in `usage` will not match one-to-one with the exact visible content of an API request or response.\n\nFor example, `output_tokens` will be non-zero, even for an empty string response from Claude."
          }
        },
        "required" : [ "content", "id", "model", "role", "stop_reason", "stop_sequence", "type", "usage" ],
        "title" : "Message",
        "x-stainless-python-custom-imports" : [ "from .beta_content_block import BetaContentBlock as BetaContentBlock" ]
      },
      "BetaMessageBatch" : {
        "example" : {
          "cancel_initiated_at" : "2000-01-23T04:56:07.000+00:00",
          "request_counts" : "",
          "expires_at" : "2000-01-23T04:56:07.000+00:00",
          "archived_at" : "2000-01-23T04:56:07.000+00:00",
          "processing_status" : "in_progress",
          "created_at" : "2000-01-23T04:56:07.000+00:00",
          "id" : "id",
          "results_url" : "results_url",
          "type" : "message_batch",
          "ended_at" : "2000-01-23T04:56:07.000+00:00"
        },
        "properties" : {
          "id" : {
            "description" : "Unique object identifier.\n\nThe format and length of IDs may change over time.",
            "title" : "Id",
            "type" : "string"
          },
          "type" : {
            "default" : "message_batch",
            "description" : "Object type.\n\nFor Message Batches, this is always `\"message_batch\"`.",
            "enum" : [ "message_batch" ],
            "title" : "Type",
            "type" : "string"
          },
          "processing_status" : {
            "description" : "Processing status of the Message Batch.",
            "enum" : [ "in_progress", "canceling", "ended" ],
            "title" : "Processing Status",
            "type" : "string"
          },
          "request_counts" : {
            "allOf" : [ {
              "$ref" : "#/components/schemas/BetaRequestCounts"
            } ],
            "description" : "Tallies requests within the Message Batch, categorized by their status.\n\nRequests start as `processing` and move to one of the other statuses only once processing of the entire batch ends. The sum of all values always matches the total number of requests in the batch."
          },
          "ended_at" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "created_at" : {
            "description" : "RFC 3339 datetime string representing the time at which the Message Batch was created.",
            "format" : "date-time",
            "title" : "Created At",
            "type" : "string"
          },
          "expires_at" : {
            "description" : "RFC 3339 datetime string representing the time at which the Message Batch will expire and end processing, which is 24 hours after creation.",
            "format" : "date-time",
            "title" : "Expires At",
            "type" : "string"
          },
          "archived_at" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "cancel_initiated_at" : {
            "format" : "date-time",
            "nullable" : true,
            "type" : "string"
          },
          "results_url" : {
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "archived_at", "cancel_initiated_at", "created_at", "ended_at", "expires_at", "id", "processing_status", "request_counts", "results_url", "type" ],
        "title" : "MessageBatch"
      },
      "BetaMessageBatchIndividualRequestParams" : {
        "additionalProperties" : false,
        "example" : {
          "custom_id" : "custom_id",
          "params" : ""
        },
        "properties" : {
          "custom_id" : {
            "description" : "Developer-provided ID created for each request in a Message Batch. Useful for matching results to requests, as results may be given out of request order.\n\nMust be unique for each request within the Message Batch.",
            "maxLength" : 64,
            "minLength" : 1,
            "pattern" : "^[a-zA-Z0-9_-]{1,64}$",
            "title" : "Custom Id",
            "type" : "string"
          },
          "params" : {
            "allOf" : [ {
              "$ref" : "#/components/schemas/BetaCreateMessageParams"
            } ],
            "description" : "Messages API creation parameters for the individual request. \n\nSee the [Messages API reference](/en/api/messages) for full documentation on available parameters."
          }
        },
        "required" : [ "custom_id", "params" ],
        "title" : "MessageBatchIndividualRequestParams"
      },
      "BetaMessageBatchIndividualResponse" : {
        "properties" : {
          "custom_id" : {
            "description" : "Developer-provided ID created for each request in a Message Batch. Useful for matching results to requests, as results may be given out of request order.\n\nMust be unique for each request within the Message Batch.",
            "title" : "Custom Id",
            "type" : "string"
          },
          "result" : {
            "$ref" : "#/components/schemas/BetaMessageBatchResult"
          }
        },
        "required" : [ "custom_id", "result" ],
        "title" : "MessageBatchIndividualResponse"
      },
      "BetaMessageDelta" : {
        "properties" : {
          "stop_reason" : {
            "enum" : [ "end_turn", "max_tokens", "stop_sequence", "tool_use" ],
            "nullable" : true,
            "type" : "string"
          },
          "stop_sequence" : {
            "nullable" : true,
            "type" : "string"
          }
        },
        "required" : [ "stop_reason", "stop_sequence" ],
        "title" : "MessageDelta"
      },
      "BetaMessageDeltaEvent" : {
        "properties" : {
          "type" : {
            "default" : "message_delta",
            "enum" : [ "message_delta" ],
            "title" : "Type",
            "type" : "string"
          },
          "delta" : {
            "$ref" : "#/components/schemas/BetaMessageDelta"
          },
          "usage" : {
            "allOf" : [ {
              "$ref" : "#/components/schemas/BetaMessageDeltaUsage"
            } ],
            "description" : "Billing and rate-limit usage.\n\nAnthropic's API bills and rate-limits by token counts, as tokens represent the underlying cost to our systems.\n\nUnder the hood, the API transforms requests into a format suitable for the model. The model's output then goes through a parsing stage before becoming an API response. As a result, the token counts in `usage` will not match one-to-one with the exact visible content of an API request or response.\n\nFor example, `output_tokens` will be non-zero, even for an empty string response from Claude."
          }
        },
        "required" : [ "delta", "type", "usage" ],
        "title" : "MessageDeltaEvent"
      },
      "BetaMessageDeltaUsage" : {
        "properties" : {
          "output_tokens" : {
            "description" : "The cumulative number of output tokens which were used.",
            "title" : "Output Tokens",
            "type" : "integer"
[...]
